@{
    ViewBag.Title = "Edit";
}

<br />
<div class="panel" style="margin-top:20px">
    <div class="panel-heading">
        <h3 class="panel-title">@ViewBag.database_name</h3>
    </div>
    <div class="panel-body">
        <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="panel-footer">
        <button class="btn btn-info"><i class="ti-save"></i></button>
        <a href="@Url.Action("Index","Databases")" class="btn btn-dark"><i class="ti-back-left"></i></a>
    </div>
</div>