@{
    ViewBag.Title = ViewBag.database_name;
    var ctx = new WebBased_Database_SQLServer.Models.ApplicationDbContext();
    string sql = "select TABLE_CATALOG,TABLE_NAME from  " + ViewBag.database_name + ".INFORMATION_SCHEMA.TABLES; ";
    var tables = ctx.Database.SqlQuery<WebBased_Database_SQLServer.Models.Table>(sql).OrderBy(x => x.TABLE_NAME).ToList();
    ViewBag.SubTitle = tables.Count +" tables";

}

<input placeholder="Search Me" id="box" type="text" />

<div class="row">
    @foreach (var table in tables)
    {
        <div class="col-md-3 connect-cat"  catname="@table.TABLE_NAME" style="visibility: visible; display: block;">
            <div class="panel">
                <div class="panel-body text-center">
                    <div class="pad-ver mar-top text-main"><i class="demo-pli-data-settings icon-4x"></i></div>
                    <p class="text-lg text-semibold mar-no text-main name">@table.TABLE_NAME</p>
                    <p class="text-muted">32TB Total storage</p>
                    <a href="@Url.Action("show","Table",new {name=table.TABLE_CATALOG, tablename=table.TABLE_NAME})" class="btn btn-primary mar-ver">Get it now</a>
                </div>
            </div>
        </div>
    }


</div>

<style>
    div.connect-cat {

    }

    #box {
        margin: 20px;
    }
</style>
<script>
    document.getElementById("box").oninput=function(){
  var matcher = new RegExp(document.getElementById("box").value, "gi");
  for (var i=0;i<document.getElementsByClassName("connect-cat").length;i++) {
    if (matcher.test(document.getElementsByClassName("name")[i].innerHTML)) {
      document.getElementsByClassName("connect-cat")[i].style.display="inline-block";
    } else {
      document.getElementsByClassName("connect-cat")[i].style.display="none";
    }
      
  }
}
</script>