@{
    ViewBag.Title = "SQL Query Syntax Check & Validator";
}

<link href="~/Scripts/sqlquery/sqlite-parser.css" rel="stylesheet" />

<div class="row shy">
    <div class="col-6">
        <div class="left" id="sql">
            <h3 id="sql-header">SQL Statement</h3>
            <textarea id="sql-text">
        </textarea>
        </div>
    </div>
    <div class="col-6">
        <div class="right" id="ast">
            <h3 id="ast-header">Syntax Tree</h3>

            <textarea id="ast-text" style="display:none;"></textarea>
        </div>
    </div>
</div>
<script src="~/Scripts/sqlquery/sqlite-parser.js"></script>