<div class="row">
    <div class="panel media middle">
        <div class="media-left bg-mint pad-all">
            <i class="demo-pli-speech-bubble-7 icon-3x"></i>
        </div>
        <div class="media-body pad-all">
            <p class="text-2x mar-no text-semibold text-main"> SmartDB gives you simple tools to transform your data into a powerful online database.</p>
            <p class="text-muted mar-no">
                Structure your data with data types that make sense, like names and emails.
                <br />
                Connect your data by linking related records together.
                <br />

                Extend your data with special options like formulas and equations.
                <br />

                Do it all in a simple, clean interface that requires no coding.
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-warning panel-colorful media middle pad-all">
            <div class="media-left">
                <div class="pad-hor">
                    <i class="demo-pli-file-word icon-3x"></i>
                </div>
            </div>
            <div class="media-body">
                <p class="text-2x mar-no text-semibold">241</p>
                <p class="mar-no">Documents</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-info panel-colorful media middle pad-all">
            <div class="media-left">
                <div class="pad-hor">
                    <i class="demo-pli-file-zip icon-3x"></i>
                </div>
            </div>
            <div class="media-body">
                <p class="text-2x mar-no text-semibold">241</p>
                <p class="mar-no">Zip Files</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-mint panel-colorful media middle pad-all">
            <div class="media-left">
                <div class="pad-hor">
                    <i class="demo-pli-camera-2 icon-3x"></i>
                </div>
            </div>
            <div class="media-body">
                <p class="text-2x mar-no text-semibold">241</p>
                <p class="mar-no">Photos</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-purple panel-colorful media middle pad-all">
            <div class="media-left">
                <div class="pad-hor">
                    <i class="demo-pli-video icon-3x"></i>
                </div>
            </div>
            <div class="media-body">
                <p class="text-2x mar-no text-semibold">241</p>
                <p class="mar-no">Videos</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Newsfeed</h3>
            </div>
            <div class="nano has-scrollbar" style="height:360px">
                <div class="nano-content" tabindex="0" style="right: -17px;">
                    <div class="panel-body bord-btm">
                        <p class="text-bold text-main text-sm">#68464</p>
                        <p class="pad-btm">To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words. </p>
                        <a href="#" class="task-footer">
                            <span class="box-inline">
                                <label class="label label-warning">Feature Request</label>
                                <label class="label label-danger">Bug</label>
                            </span>
                        </a>
                    </div>
                    <div class="panel-body bord-btm">
                        <p class="text-bold text-main text-sm">#45684</p>
                        <p class="pad-btm">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                        <a href="#" class="task-footer">
                            <span class="box-inline">
                                <span class="pad-rgt"><i class="demo-pli-speech-bubble-7"></i> 45</span>
                                <span class="pad-rgt"><i class="demo-pli-like"></i> 45</span>
                            </span>
                            <span class="text-sm"><i class="demo-pli-clock icon-fw text-main"></i>9:25</span>
                        </a>
                    </div>
                    <div class="panel-body bord-btm">
                        <p class="text-bold text-main text-sm">#84564</p>
                        <div class="task-img">
                            <img class="img-responsive" src="img/shared-img-2.jpg" alt="Image">
                        </div>
                        <p class="pad-btm">No one rejects, dislikes, or avoids pleasure itself, because it is pleasure.</p>
                        <a href="#" class="task-footer">
                            <span class="box-inline">
                                <span class="pad-rgt"><i class="demo-pli-heart-2"></i> 54K</span>
                            </span>
                            <span class="text-sm"><i class="demo-pli-clock icon-fw text-main"></i>03:08</span>
                        </a>
                    </div>
                    <div class="panel-body bord-btm">
                        <p class="text-bold text-main text-sm">#23255</p>
                        <p class="pad-btm">The new common language will be more simple and regular than the existing European languages.</p>
                        <a href="#" class="task-footer">
                            <span class="box-inline">
                                <img class="img-xs img-circle" src="img/profile-photos/8.png" alt="task-user">
                                Brenda Fuller
                            </span>
                        </a>
                    </div>
                    <div class="panel-body bord-btm">
                        <p class="text-bold text-main text-sm">#34522</p>
                        <p class="pad-btm">To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it?</p>
                        <a href="#" class="task-footer">
                            <span class="text-sm"><i class="demo-pli-clock icon-fw text-main"></i>9:25</span>
                        </a>
                    </div>
                    <div class="panel-body bord-btm">
                        <p class="text-bold text-main text-sm">#45684</p>
                        <p class="pad-btm">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                        <a href="#" class="task-footer">
                            <span class="box-inline">
                                <span class="pad-rgt"><i class="demo-pli-speech-bubble-7"></i> 45</span>
                                <span class="pad-rgt"><i class="demo-pli-like"></i> 45</span>
                            </span>
                            <span class="text-sm"><i class="demo-pli-clock icon-fw text-main"></i>9:25</span>
                        </a>
                    </div>
                </div>
                <div class="nano-pane"><div class="nano-slider" style="height: 98px; transform: translate(0px, 262px);"></div></div>
            </div>
            <div class="panel-footer text-right">
                <button class="btn btn-sm btn-Default">Load more</button>
                <button class="btn btn-sm btn-primary">View all</button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">

            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Top User</h3>
                </div>

                <!--Bordered Table-->
                <!--===================================================-->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>User</th>
                                    <th>Order date</th>
                                    <th>Plan</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">34521</td>
                                    <td><a href="#" class="btn-link">Scott S. Calabrese</a></td>
                                    <td><span class="text-muted">Oct 10, 2017</span></td>
                                    <td><span class="label label-purple">Bussines</span></td>
                                </tr>
                                <tr>
                                    <td class="text-center">23422</td>
                                    <td><a href="#" class="btn-link">Teresa L. Doe</a></td>
                                    <td><span class="text-muted">Oct 22, 2017</span></td>
                                    <td><span class="label label-info">Personal</span></td>
                                </tr>
                                <tr>
                                    <td class="text-center">73455</td>
                                    <td><a href="#" class="btn-link">Steve N. Horton</a></td>
                                    <td><span class="text-muted">Oct 22, 2017</span></td>
                                    <td><span class="label label-warning">Trial</span></td>
                                </tr>
                                <tr>
                                    <td class="text-center">34523</td>
                                    <td><a href="#" class="btn-link">Charles S Boyle</a></td>
                                    <td><span class="text-muted">Nov 03, 2017</span></td>
                                    <td><span class="label label-purple">Bussines</span></td>
                                </tr>
                                <tr>
                                    <td class="text-center">74634</td>
                                    <td><a href="#" class="btn-link">Lucy Doe</a></td>
                                    <td><span class="text-muted">Nov 05, 2017</span></td>
                                    <td><span class="label label-success">Special</span></td>
                                </tr>
                                <tr>
                                    <td class="text-center">23423</td>
                                    <td><a href="#" class="btn-link">Michael Bunr</a></td>
                                    <td><span class="text-muted">Nov 07, 2017</span></td>
                                    <td><span class="label label-info">Personal</span></td>
                                </tr>
                                <tr>
                                    <td class="text-center">23422</td>
                                    <td><a href="#" class="btn-link">Teresa L. Doe</a></td>
                                    <td><span class="text-muted">Nov 10, 2017</span></td>
                                    <td><span class="label label-info">Personal</span></td>
                                </tr>
                                <tr>
                                    <td class="text-center">73455</td>
                                    <td><a href="#" class="btn-link">Steve N. Horton</a></td>
                                    <td><span class="text-muted">Nov 10, 2017</span></td>
                                    <td><span class="label label-danger">VIP</span></td>
                                </tr>
                                <tr>
                                    <td class="text-center">34521</td>
                                    <td><a href="#" class="btn-link">Scott S. Calabrese</a></td>
                                    <td><span class="text-muted">Nov 11, 2017</span></td>
                                    <td><span class="label label-purple">Bussines</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--===================================================-->
                <!--End Bordered Table-->
            </div>
        </div>
    </div>
</div>