@{
    ViewBag.Title = "Home Page";
    ViewBag.SubTitle = "SubTitle Home Page";
    var ctx = new WebBased_Database_SQLServer.Models.ApplicationDbContext();
    var databases = ctx.Database.SqlQuery<WebBased_Database_SQLServer.Models.database>("SELECT name, database_id, create_date  FROM sys.databases where suser_sname(owner_sid) !='sa'").ToList();

}

<div class="row">
    @foreach (var database in databases)
    {
        <div class="col-md-2">
            <div class="panel">
                <div class="panel-body text-center">
                    <div class="pad-ver mar-top text-main"><i class="demo-pli-data-settings icon-4x"></i></div>
                    <p class="text-lg text-semibold mar-no text-main">@database.name</p>
                    <p class="text-muted">32TB Total storage</p>
                    <a href="@Url.Action("Index","Table",new {name = database.name })" class="btn btn-primary mar-ver">Get it now</a>
                </div>
            </div>
        </div>
    }


</div>

<!--End page content-->