
@{
    ViewBag.Title = "Index";
}

<div class="  row">

    <div style=" float: right; padding: 6px 15px 20px 5px; ">
        <!--Icon Buttons-->
        <!--===================================================-->
        <button class="btn btn-warning btn-icon btn-circle"><i class="demo-psi-star icon-lg"></i></button>
        <button class="btn btn-danger btn-icon btn-circle"><i class="demo-psi-heart-2 icon-lg"></i></button>
        <button class="btn btn-pink btn-icon btn-circle"><i class="demo-psi-home icon-lg"></i></button>
        <button class="btn btn-purple btn-icon btn-circle"><i class="demo-psi-tag icon-lg"></i></button>
        <button class="btn btn-dark btn-icon btn-circle"><i class="demo-psi-boot-2 icon-lg"></i></button>
        <!--===================================================-->

    </div>

</div>
<div class="row">
 


</div>

<!--End page content-->