@{


}

<div class="row">
    <div class="col-sm-6 col-lg-1">
    </div>

    <div class="col-sm-6 col-lg-2">

        <!--Tile-->
        <!--===================================================-->
        <div class="panel">
            <div class="panel-body text-center bg-success">
                <i class="demo-pli-speech-bubble-7 icon-5x"></i>
            </div>
            <div class="pad-all text-center">
                <p class="text-semibold text-sm text-main text-uppercase">Tables</p>
                <div class="mar-top">
                    <a href="@Url.Action("Index","Table",new {name = ViewBag.database_name })" class="btn btn-mint">See</a>
                </div>
            </div>
        </div>
        <!--===================================================-->

    </div>
    <div class="col-sm-6 col-lg-2">
    </div>

    <div class="col-sm-6 col-lg-2">

        <!--Tile-->
        <!--===================================================-->
        <div class="panel">
            <div class="panel-body text-center bg-info">
                <i class="demo-pli-speech-bubble-7 icon-5x"></i>
            </div>
            <div class="pad-all text-center">
                <p class="text-semibold text-sm text-main text-uppercase">Procedures</p>
                <div class="mar-top">
                    <a href="@Url.Action("Index","Procedures",new {name = ViewBag.database_name })" class="btn btn-mint">See</a>
                </div>
            </div>
        </div>
        <!--===================================================-->

    </div>
    <div class="col-sm-6 col-lg-2">
    </div>
    <div class="col-sm-6 col-lg-2">

        <!--Tile-->
        <!--===================================================-->
        <div class="panel">
            <div class="panel-body text-center bg-warning">
                <i class="demo-pli-speech-bubble-7 icon-5x"></i>
            </div>
            <div class="pad-all text-center">
                <p class="text-semibold text-sm text-main text-uppercase">Vues</p>
                <div class="mar-top">
                    <a href="@Url.Action("Index","Vues",new {name = ViewBag.database_name })" class="btn btn-mint">See</a>
                </div>
            </div>
        </div>
        <!--===================================================-->

    </div>

</div>